body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url('https://images.unsplash.com/photo-1606145469859-bd36ede24638?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') bottom no-repeat;
    background-size: cover;
}